#MainPanel[position='0'] {
    padding: 0 0px;
    border-top: none;
}

#MainPanel[position='1'] {
    padding: 0px 0;
    border-right: none;
}

#MainPanel[position='2'] {
    padding:0 0px;
    border-bottom: none;
}

#MainPanel[position='3'] {
    padding: 0px 0;
    border-left: none;
}
